@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

html,body{
  height: 100%;
  margin: 0;
}

body{
  font-family: "Space Grotesk",sans-serif;
  background: black;
  color: white;
}
 /* .bgImg{
  /* background-image: url("../src/assets/kevinRushProfile.png"); */
  /* background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%); */


 /* <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div> */